@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-attachment: fixed;
    background-color: #042959;
}

#cabecalho {
    justify-content: center;
    padding-top: 35px;
    color: white;
    display: flex;
}

#cabecalho h1 {
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 3em
}

main {
    padding-top: 40px;
    max-width: 100%;
    background-color: #042959;
    margin: auto;
}

main>.bem-vindo {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 1em;
}

#conteudo {
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 15px;
    margin-top: 30px;
}

.div {
    border-radius: 10px;
    height: 120px;
    width: 160px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
}

.div a {
    text-decoration: none;
}

.bi-chat-dots,
.bi-instagram,
.bi-info-square-fill,
.bi-geo-alt-fill {
    color: #042959;
    text-align: center;
    font-size: 2.5em;
}

.servicos {
    color: #042959;
    font-weight: bold;
    font-size: 1em;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    transition-duration: .8s;
    text-decoration: underline;
    color: darkgray;
}

/*pagina orcamento*/
main>.preenchimentoFormulario {
    text-align: center;
    font-size: 1.8em;
    color: white;
    font-family: "Poppins", sans-serif;
}


.forms {
    padding-top: 30px;
    margin: auto;
    flex-direction: column;
    display: flex;
    max-width: 80%;
    gap: 20px;
}


.buttonEnvio {
    border-radius: 10px;
    background-color: #157347;
    color: white;
    font-size: 1.2em;
    height: 40px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.meu-estilo-caixa-dialogo{
    background-color: transparent;
}

/*pagina sobre*/
main .apresentacao {
    padding: 20px 15px;
    text-align: center;
    color: white;
}

main .apresentacao h1 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.2em;
}

main .apresentacao p {
    text-align: center;
    width: 100%;
    font-family: "Poppins";
    font-weight: normal;
    color: white;
    font-size: 1em;
}

#apresentacaoProduto {
    background-color: white;
    margin-bottom: 30px;
}

#apresentacaoProduto h2 {
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
    margin: 0;
    font-weight: bold;
}

#apresentacaoProduto .imgApresentacao {
    background-color: #042959c1;
    border-radius: 5px;
}

#apresentacaoLicencas {
    margin-bottom: 7em;
}

#apresentacaoLicencas h2 {
    text-align: center;
    color: white;
    font-size: 1.8em;
    padding-top: 20px;
    margin: 0;
    font-weight: 600;
}

#apresentacaoLicencas p {
    text-align: center;
    color: white;
    font-size: 1em;
    padding-top: 20px;
    margin: 0;
    font-weight: 500;
}

#apresentacaoLicencas button {
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

#apresentacaoLicencas button:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

#apresentacaoLicencas a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}

#apresentacaoLicencas a:hover {
    color: #034dad;
    font-size: 1.2em;
    text-decoration: underline;
}


#apresentacaoFornecedores {
    background-color: white;
    margin-top: 30px;
}

#apresentacaoFornecedores h2 {
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
    margin: 0;
    font-weight: bold;
}

swiper-container {
    width: 300px;
    height: 300px;
    padding: 50px;
    padding-top: 20px;
}

swiper-slide {
    padding-top: 30px;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

swiper-slide img {
    display: block;
    width: 100%;
}
